<h1>User Index</h1>

<h2>Where we left off:</h2>

<p>Open the google apps 'setting up a rails project' file to see where you are. Recently finished creating the controller and this view page for the User model. Must continue with the Railscast instructions.</p>
